html{
	cursor:none;
}

*{
	box-sizing: border-box;
}

body{
	background:black;
	color:white;
	margin:0;
	padding: 8px;
	min-height: 100vh;
	-webkit-user-select: none;  
    	-moz-user-select: none;    
    	-ms-user-select: none;     
    	user-select: none; 
}

#title{
	text-align:center;
	font-size:3em;
	margin: 10px;
	-webkit-user-select: none;  
    	-moz-user-select: none;    
    	-ms-user-select: none;     
    	user-select: none; 
}

#content{
	display:flex;
	flex-wrap:wrap;
	font-size:1.6em;
	justify-content:space-around;
}

#content img{
	height:275px;
	border-radius: 20px;
	border: 3px solid white;
	min-width: 275px;
	background: black;
}

.kiosk-video{
	padding:8px;
	display:flex;
	flex-direction: column;
	align-items:center;
	text-align:center;
	-webkit-user-select: none;  
    	-moz-user-select: none;    
    	-ms-user-select: none;     
    	user-select: none; 
	transition: 3s;
}

.kiosk-video:active{
	background: white;
	color: black;
	transition: 0s;
}
